<a href="https://colab.research.google.com/github/lukascampos/carcdsi-google-colab/blob/master/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

In [2]:
# Criando Series de alunos e notas

list_registration = ['M02', 'M05', 'M13', 'M14', 'M19']
list_names = ['Bob', 'Dayse', 'Bill', 'Cris', 'Jimi']
students_series = pandas.Series(list_names, index=list_registration)

grades = pandas.Series([7.6, 5.0, 8.5, 9.5, 6.4])

print(grades)
print("-----------------")
print(students_series)

0    7.6
1    5.0
2    8.5
3    9.5
4    6.4
dtype: float64
-----------------
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [4]:
# Criando uma Series a partir de um dicionário (chave e valor)

dic_students = {'M02': 'Bob', 'M05': 'Dayse', 'M13': 'Bill', 'M14': 'Cris', 'M19': 'Jimi'}

dic_students_series = pandas.Series(dic_students)

print(dic_students_series)

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [6]:
students = pandas.Series({'M02': 'Bob', 'M05': 'Dayse', 'M13': 'Bill', 'M14': 'Cris', 'M19': 'Jimi'})

# Atribuindo nomes para os vetores de dados e rótulos (indice)

students.name = "alunos"
students.index.name = "matriculas"

print(students)

size = students.size
data = students.values
labels = students.index
students_type = type(students)
students_dtype = students.dtype
students_idx_dtype = students.index.dtype

print('número de elementos: ', size)
print('vetor de dados: ', data)
print('vetor de rótulos: ', labels)
print('tipo (type): ', students_type)
print('dtype da Series: ', students_dtype)
print('dtype do vetor de dados', students_idx_dtype)

matriculas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: alunos, dtype: object
número de elementos:  5
vetor de dados:  ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
vetor de rótulos:  Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object', name='matriculas')
tipo (type):  <class 'pandas.core.series.Series'>
dtype da Series:  object
dtype do vetor de dados object

In [11]:
# indexação booleano

# obtêm os indices dos alunos aprovados

idx_approved_students = grades[grades >= 7].index

print('Relação de alunos aprovados')
print('-----------------------')

# imprime os alunos aprovados (deprecated)

# print(students[idx_approved_students])

# imprime os alunos aprovados
print(students.iloc[idx_approved_students])

Relação de alunos aprovados
-----------------------
matriculas
M02     Bob
M13    Bill
M14    Cris
Name: alunos, dtype: object

In [14]:
# Buscas em Series

has_M13 = 'M13' in students
has_M99 = 'M99' in students

print('Existe a matrícula "M13"? ', has_M13)
print('Existe a matrícula "M99"? ', has_M99)

# Testando se valor faz parte da Series

has_bob = students.isin(['Bob'])
print('Existe o valor "Bob"? ', has_bob)

has_teste = students.isin(['teste'])
print('Existe o valor "teste"? ', has_teste)

Existe a matrícula "M13"?  True
Existe a matrícula "M99"?  False
Existe o valor "Bob"?  matriculas
M02     True
M05    False
M13    False
M14    False
M19    False
Name: alunos, dtype: bool
Existe o valor "teste"?  matriculas
M02    False
M05    False
M13    False
M14    False
M19    False
Name: alunos, dtype: bool

In [21]:
# Inserindo, alterando e removendo elementos de Series

print('Series original')
print(students)

# insere o aluno de matricula M55, Rakesh
students['M55'] = 'Rakesh'
print(students)

# Alterar os nomes Bill, Cris e Jimi para Billy, Cristy e Jimy
students['M13'] = 'Billy'
students[['M14', 'M19']] = ['Cristy', 'Jimy']
print(students)

# Remove o aluno de matricula M02 (Bob)
students = students.drop('M02')
print(students)

Series original
matriculas
M02       Bob
M05     Dayse
M13     Billy
M14    Cristy
M19      Jimy
M55    Rakesh
Name: alunos, dtype: object
matriculas
M02       Bob
M05     Dayse
M13     Billy
M14    Cristy
M19      Jimy
M55    Rakesh
Name: alunos, dtype: object
matriculas
M02       Bob
M05     Dayse
M13     Billy
M14    Cristy
M19      Jimy
M55    Rakesh
Name: alunos, dtype: object
matriculas
M05     Dayse
M13     Billy
M14    Cristy
M19      Jimy
M55    Rakesh
Name: alunos, dtype: object

In [22]:
# Mudando o indice da Series

students = pandas.Series({'M02': 'Bob', 'M05': 'Dayse', 'M13': 'Bill', 'M14': 'Cris', 'M19': 'Jimi'})
print(students)

students.index = ['M91', 'M92', 'M93', 'M94', 'M95']
print(students)

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object
M91      Bob
M92    Dayse
M93     Bill
M94     Cris
M95     Jimi
dtype: object

In [24]:
# Iteração

for student in students: print(student)

for position in students.index: print(position)

Bob
Dayse
Bill
Cris
Jimi
M91
M92
M93
M94
M95

In [28]:
# Operações aritméticas com computação vetorizada
import numpy

# Cria a Series s1 e s2
s1 = pandas.Series([2, 4, 6])
s2 = pandas.Series([1, 3, 5])

print('s1: ')
print(s1)
print('s2: ')
print(s2)

print('s1 * 2: ')
print(s1 * 2)

print('s1 + s2')
print(s1 + s2)

print('raiz quadrada dos elementos de s1')
print(numpy.sqrt(s1))

s1:
0    2
1    4
2    6
dtype: int64
s2:
0    1
1    3
2    5
dtype: int64
s1 * 2:
0     4
1     8
2    12
dtype: int64
s1 + s2
0     3
1     7
2    11
dtype: int64
raiz quadrada dos elementos
0    1.414214
1    2.000000
2    2.449490
dtype: float64

In [29]:
# Valor NaN

has_green = pandas.Series({'BR':1, 'FR':0, 'IT':1, 'UK':0})
has_blue = pandas.Series({'AR':1, 'BR':1, 'FR':1, 'IT':0, 'UK':1})

total = has_green + has_blue

print("Soma")
print(total)
print('---------------------')
print('isnull(total)')
print(pandas.isnull(total))

Soma
AR    NaN
BR    2.0
FR    1.0
IT    1.0
UK    1.0
dtype: float64
---------------------
isnull(total)
AR     True
BR    False
FR    False
IT    False
UK    False
dtype: bool

In [33]:
# Indices datetime

# 1 - Cria uma Series temporal

days = ['10/02/2019', '11/02/2019', '12/02/2019', '12/02/2019', '14/02/2019', '15/02/2019']
temp_max = [31, 35, 34, 28, 27, 27]
serie_temporal = pandas.Series(temp_max, index=days)

# 2 - Converte o tipo do indice para datetime e imprime a serie

serie_temporal.index = pandas.to_datetime(serie_temporal.index, format='%d/%m/%Y')

print(serie_temporal)

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-12    28
2019-02-14    27
2019-02-15    27
dtype: int64

In [38]:
# Indexação hierarquica

money = ['Peso', 'Real', 'Euro', 'Euro', 'Libra']
countries = [['América', 'América', 'Europa', 'Europa', 'Europa'],
             ['AR', 'BR', 'FR', 'IT', 'UK']]

list_countries = pandas.Series(money, index=countries)

print(list_countries) # imprime toda a lista
print('----------------')
print(list_countries['América']) # (AR: Peso, BR: Real)
print('----------------')
print(list_countries[:,'IT']) # (Europa: Euro)
print('----------------')
print(list_countries['Europa','UK']) # Libra

América  AR     Peso
         BR     Real
Europa   FR     Euro
         IT     Euro
         UK    Libra
dtype: object
----------------
AR    Peso
BR    Real
dtype: object
----------------
Europa    Euro
dtype: object
----------------
Libra